@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

.Btn-yellow {
  border-radius: 25px;
  border: 1px solid #F9D783;
  color: #191919;
  padding: 12px 22px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: #F9D783;
}
.Btn-yellow:hover {
  background-color: rgb(7, 7, 7);
  color: #F0EFE9;
}
.Btn-yellow i {
  margin-left: 8px;
  font-size: 0.9em;
}

.Btn-trans {
  border-radius: 25px;
  border: 1px solid black;
  color: #191919;
  padding: 12px 22px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: transparent;
}
.Btn-trans:hover {
  background-color: rgb(7, 7, 7);
  color: #F0EFE9;
}
.Btn-trans i {
  margin-left: 8px;
  font-size: 0.9em;
}

.Btn-black {
  border-radius: 25px;
  border: 1px solid black;
  color: white;
  padding: 12px 22px;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background-color: black;
}
.Btn-black:hover {
  background-color: white;
  color: black;
}
.Btn-black i {
  margin-left: 8px;
  font-size: 0.9em;
}

.section-title {
  padding-top: 120px;
}
.section-title p {
  color: #F94D1C;
  font-size: 20px;
}
.section-title h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 70px;
}

header {
  display: flex;
  background-color: #F0EFE9;
  padding: 15px;
  color: #191919;
}
header .container {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .menu-bar {
  border: none;
  font-size: 25px;
  background-color: transparent;
}
@media (min-width: 992px) {
  header .container .menu-bar {
    display: none;
  }
}
header .container .menu {
  flex: 1;
  display: none;
  padding-left: 70px;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: 1px solid #DAD9D3;
  padding-bottom: 10px;
}
header .container .menu .top-menu .cont-info {
  display: flex;
}
header .container .menu .top-menu .cont-info .content-box {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: #434242;
}
header .container .menu .top-menu .cont-info i {
  margin-right: 5px;
  font-size: 1.1em;
}
header .container .menu .top-menu .cont-info .last {
  border-right: none;
}
header .container .menu .top-menu .social i {
  margin-left: 10px;
}
header .container .menu .top-menu .social a {
  color: #191919;
  font-size: 1.4rem;
}
header .container .menu .top-menu .social a:hover {
  color: rgb(102, 100, 100);
}
header .container .menu .bottom-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .menu .bottom-menu nav a {
  color: #191919;
  text-decoration: none;
  margin-right: 30px;
}
header .container .menu .bottom-menu nav a:hover {
  color: rgb(102, 100, 100);
  text-decoration: underline;
}

.showcase {
  background-color: #F0EFE9;
  position: relative;
}
.showcase .background-lines {
  position: absolute;
  bottom: 0;
  left: 0;
}
.showcase .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showcase .container .content {
  padding: 5px;
}
.showcase .container .content h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 86px;
  font-weight: 700;
}
.showcase .container .content p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  padding-top: 40px;
  padding-bottom: 40px;
  color: #191919;
}
.showcase .container .content a {
  text-decoration: none;
  color: black;
  margin-right: 10px;
  margin-left: 10px;
}
.showcase .container .content a:hover {
  color: #F0EFE9;
}
.showcase .container .pic-1 {
  margin-right: -50px;
}

.sponsor {
  display: flex;
  justify-content: space-evenly;
}
.sponsor img {
  padding: 50px;
}

.Feature-sec .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Feature-sec .container.Features {
  border: 1px solid #bdbbbb;
  padding-bottom: 80px;
  padding-left: 50px;
  padding-right: 50px;
}
.Feature-sec .container.Features .section-title a {
  text-decoration: none;
  color: #191919;
}
.Feature-sec .container.Features .section-title a:hover {
  color: #F0EFE9;
}
.Feature-sec .container.Features .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 120px;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 40px;
}
.Feature-sec .container.Features .grid-container .grid-item i {
  font-size: 30px;
  padding-bottom: 15px;
  color: #191919;
}
.Feature-sec .container.Features .grid-container .grid-item h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.Feature-sec .container.Features .grid-container .grid-item p {
  color: #191919;
}

.About {
  padding-bottom: 100px;
}
.About .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.About .container img {
  margin-right: 200px;
  margin-top: 120px;
}
.About .container .para-text {
  line-height: 2;
  padding-bottom: 100px;
}
.About .container .Btn-black {
  margin-right: 20px;
}
.About .container .Btn-black a {
  text-decoration: none;
  color: white;
}
.About .container .Btn-black a:hover {
  background-color: transparent;
  color: #191919;
}
.About .container a {
  text-decoration: none;
  color: #191919;
}
.About .container a:hover {
  color: #DAD9D3;
}
.About .container .play {
  padding-right: 5px;
}

.Service {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #F0EFE9;
  position: relative;
}
.Service .background-lines {
  position: absolute;
  bottom: 0;
  right: 0;
}
.Service .container {
  display: block;
}
.Service .container .Btn-sec {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.Service .container .boxtext {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
.Service .container .boxtext h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.Service .container .boxtext p {
  padding-bottom: 20px;
}
.Service .container .boxtext .boxitem {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 60px;
  padding-right: 60px;
  border: 1px solid white;
  margin: 10px;
  background-color: white;
}
.Service .container .boxtext .boxitem:hover {
  background-color: #F9D783;
}
.Service .container .boxtext .boxitem .Btn-arrow {
  border-radius: 25px;
  background-color: #191919;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 50px;
}
.Service .container .boxtext .boxitem .Btn-arrow:hover {
  background-color: white;
  color: black;
}

.Choose {
  position: relative;
}
.Choose .background-box {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 55%;
}
.Choose .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
}
.Choose img {
  height: 450px;
  width: auto;
  margin-top: 350px;
  margin-left: 50px;
}
.Choose .choose-us {
  display: block;
}
.Choose .choose-us h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.Choose .choose-us .column-item {
  padding: 20px;
}
.Choose .choose-us .column-item .columni {
  padding-top: 20px;
  position: relative;
  display: flex;
  justify-content: end;
}
.Choose .choose-us .column-item .columni i {
  border-radius: 25px;
  border: 1px solid #c7c7c7;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  position: absolute;
  left: 20px;
}
.Choose .choose-us .column-item .columni .text-col {
  margin-right: 200px;
}

.Projects .container {
  display: block;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.Projects .container .section-title {
  display: block;
  text-align: center;
  padding-bottom: 70px;
}
.Projects .container .grid-project {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 50px;
       column-gap: 50px;
}
.Projects .container .grid-project h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  padding-top: 40px;
  padding-bottom: 20px;
  border-bottom: 2px solid #E7E7E7;
}
.Projects .container .grid-project .grid-pic a {
  display: flex;
  justify-content: end;
  text-decoration: none;
  color: #191919;
  font-size: 14px;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
}
.Projects .container .grid-project .grid-pic a i {
  padding-left: 10px;
}
.Projects .container .Btn-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  margin-left: 50px;
}

.Team {
  background-color: #F0D082;
  padding-bottom: 100px;
}
.Team .container {
  display: block;
}
.Team .container .team-start {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 100px;
  align-items: center;
}
.Team .container .presentation {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 60px;
  margin-bottom: 60px;
}
.Team .container .presentation .person h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.Team .container .review {
  background-color: white;
  display: block;
  padding: 100px;
  margin-left: -100px;
  margin-right: -100px;
}
.Team .container .review .section-title {
  display: block;
  margin-bottom: 50px;
  text-align: center;
}
.Team .container .review .section-title .orange {
  color: #F94D1C;
  font-size: 18px;
  display: flex;
  justify-content: center;
}
.Team .container .review .section-title h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  display: flex;
  justify-content: center;
}
.Team .container .review .re-box {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.Team .container .review .re-box .review-box {
  margin: 40px;
}
.Team .container .review .re-box .review-box i {
  color: #F94D1C;
}
.Team .container .review .Btn-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.article {
  background-color: white;
  padding: 100px;
}
.article .container {
  display: block;
}
.article .container .Art-start {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article .container .art-menu {
  display: flex;
  justify-content: space-evenly;
  padding-top: 50px;
}
.article .container .art-menu .art-box h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}

.News {
  background-color: #F0EFE9;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.News .background-lines {
  position: absolute;
  right: 0;
  bottom: 80px;
}
.News .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.News .container h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
}
.News .container input {
  border-radius: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 10px;
  border-color: white;
}

.footer {
  background-color: #0E1021;
  color: white;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.footer .background-lines {
  position: absolute;
  bottom: 185px;
  right: 0;
}
.footer .container {
  display: block;
}
.footer .container .fot-info {
  display: flex;
  justify-content: space-evenly;
}
.footer .container .fot-info .box1 {
  margin-right: 100px;
}
.footer .container .fot-info .fot-box {
  padding: 50px;
  line-height: 2;
  text-align: start;
}
.footer .container .fot-info .fot-box h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
}
.footer .container .fot-info .fot-box ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer .container .fot-info .fot-box ul li {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.footer .fot-social {
  color: #c7c7c7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  border-top: 1px solid #7b7b7b;
  padding-top: 40px;
}
.footer .fot-social a {
  text-decoration: none;
  color: #F0EFE9;
  font-size: 1.8rem;
  padding: 20px;
}
.footer .fot-social a:hover {
  color: #F94D1C;
}