@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap');

*{
    box-sizing:border-box;
}

html, body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    
}

.Btn-yellow{
    border-radius: 25px;
    border: 1px solid #F9D783;
    color:#191919;
    padding: 12px 22px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: #F9D783;
    
    
    &:hover{
        background-color:rgb(7, 7, 7);
        color:#F0EFE9;
    }
    
    i{
        margin-left: 8px;
        font-size: 0.9em;
    }
}

.Btn-trans{
    border-radius: 25px;
    border: 1px solid black;
    color:#191919;
    padding: 12px 22px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: transparent;
    
    
    &:hover{
        background-color:rgb(7, 7, 7);
        color:#F0EFE9;
    }
    
    i{
        margin-left: 8px;
        font-size: 0.9em;
    }
}


header{
    display: flex;
    background-color: #F0EFE9;
    padding: 15px;
    color:#191919;
    

    .container{
        gap:20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

      //  @media (min-width: 2500px;){
       //     max-width: 2048px;
       // }

       .menu-bar{
        border:none;
        font-size: 25px;
        background-color: transparent;

        @media (min-width:992px){
            display: none;
        }

     }
     .menu{
        flex: 1;
        display: none;
        padding-left: 70px;
        

        @media (min-width:992px){
            display:block;
        }
         

        .top-menu{
            display:flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            border-bottom: 1px solid #DAD9D3;
            padding-bottom: 10px;
            
           

            .cont-info{
                display:flex;

                .content-box{
                    padding-right:30px;
                    margin-right: 30px;
                    border-right: 1px solid #DAD9D3;
                    font-family: 'Inter', sans-serif;
                    font-size: 15px;
                    font-weight: 300;
                    color: #434242;

                }
                & i{
                    margin-right: 5px;
                    font-size: 1.1em;
                }
            
                & .last{
                    border-right:none;
                }
            }
        
            .social{

                i{
                margin-left:10px;
                }
                a{
                    color:#191919;
                    font-size:1.4rem;

                    &:hover{
                        color:rgb(102, 100, 100);
                    }

                    
                }
            }

    }
        .bottom-menu{
            display:flex;
            justify-content: space-between;
            align-items: center;

            nav{
            
                
                a{
                    color:#191919;
                    text-decoration: none;
                    margin-right: 30px;

                    &:hover{
                        color:rgb(102, 100, 100);
                        text-decoration:underline;
                        
                    }

                }
           
            }

            

        }
        

    }
    
    }
   

    

}


    
.showcase{    
    background-color: #F0EFE9;
    

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .content{
            padding: 5px;

            h1{
                font-family: 'DM Sans', sans-serif;
                font-size: 86px;
                font-weight: 700;

            }

            p{
                font-size: 20px;
                font-family: 'Inter', sans-serif;
                padding-top: 40px;
                padding-bottom: 40px;
                
            }
            a{
                text-decoration: none;
                color:black;
                margin-right: 10px;
                margin-left: 10px;

                &:hover{
                    color:#F0EFE9;
                }

            }
    
        }   
        
        .pic-1{
            margin-right: -50px;
            
        }
    }
}

.sponsor{
    display:flex;
    justify-content:space-evenly;

    
        img{
            
            padding: 50px;
        
    }
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
        
    &.Features{
        border:1px solid #bdbbbb;
        padding:50px;
        
    
    .text2{
        padding-left: 50px;

    p{
        color:#F94D1C;
    }

    h2{
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
    }
    a{
        text-decoration: none;
        color:#191919;

        &:hover{
            color:#F0EFE9;
        }
    }
}

    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        
        .grid-item{
            padding-left: 40px;
            padding-right: 40px;
            padding-top: 10px;
            padding-bottom: 20px;
           

            h3{
                font-family: 'DM Sans', sans-serif;
                font-size: 22px;
                font-weight: 700;

            }
        }
        
    }
}
}
 
   
    
    
    
 
