html, body{
    font-size: 40px;
}

header,.start-1{
    background-color: #F0EFE9;
    

    
}
.header{
   font-family: 'Inter', sans-serif;
   font-size: xx-small;
}
.start-1{
    padding: 5px;
}
.start-1 h1{
    font-family: 'DM Sans', sans-serif;
    font-family: 'Noto Sans New Tai Lue', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
.start-1 p{
    font-size: small;
    
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans New Tai Lue', sans-serif;
}
.B1{
    background-color: #F9D783;
}
button{
    border-radius: 25px;
    padding: 5px;
    
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans New Tai Lue', sans-serif;
    font-size: x-small;
    
}
i{
    margin-left: 5px;
    margin-right: 5px;
}